todolist/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
# dependencies
todolist/.pnp
todolist/.pnp.js

# testing
todolist/coverage

# production
todolist/build

# misc
todolist/.DS_Store
todolist/.env.local
todolist/.env.development.local
todolist/.env.test.local
todolist/.env.production.local

todolist/npm-debug.log*
todolist/yarn-debug.log*
todolist/yarn-error.log*

api/venv