#menu{
    text-align: left;
    padding-top: 55px;
    background-color:rgb(26, 32, 39);
    position: absolute;
    top: 0;
    min-width: 260px;
    min-height: 100vh;
    z-index: 0;
    font-weight: 600;
}

#menu .container{
    width: 100%;
    min-width: 208px;
    margin: auto;
}

#menu h5{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#menu a{
    text-decoration: none;
    color: white;
}