#EditGoal{
    width: 600px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    margin-top: 40px;
    margin-bottom: 50px;
}

#EditGoal .input{
    width: 100%;
    padding: 20px 0;
}

#EditGoal .button{
    width:100%;
}
#EditGoal .button button{
    padding: 10px 20px;
    background-color: rgb(86, 86, 86);
    color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}