#card-collection{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    background-color: rgb(26, 32, 39);
    padding: 2%;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 170px!important;
    width: 170px!important;
}

#card-collection h2, #card-collection p{
    margin : 5px 0;
    width: 100%;
}

#card-collection p{
    color: gray;
    font-weight: 600;
    font-size: 16px;
}

#card-collection .collection-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collection-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    text-align: left;
}

.addbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    min-width: 173px;
    border-radius: 20px;
    background:none;
    border: 3px solid rgb(26, 32, 39);
}