#addButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.61);
    border-radius: 30px;
}
#addButton .icon{
    width: 25px;
    height: 25px;
    background-color: rgb(255, 86, 115);
    border-radius: 6px;
    margin-left: 25px;
}

#addButton h4{
    margin: 15px;
}